<nav class="container">
    <h1>E-Comm</h1>
    <div class="search">
        <input type="search"  class="search-box" placeholder="search products" />
        <input type="button" class="search-btn" value="search" />
    </div>
    <ul>
        <li>
            <a routerLink="">Home</a>
        </li>
        <li>
            <a href="">Login</a>
        </li>
        <li>
            <a href="">Cart</a>
        </li>
        <li>
            <a routerLink="teachers-page">Teacher's</a>
        </li>
    </ul>
</nav>