<div class="seller-form">
    <h2>Teacher's Login</h2>
    <div>
        <form class="form" #sellerData="ngForm" (ngSubmit)=submitSellerdata(sellerData.value)>
            <input *ngIf="!isFirstTimeUser" type="text" class="input" name="name" ngModel placeholder="Enter your full name" />
            <input type="email" class="input" name="email" ngModel placeholder="Enter your email" />
            <input type="password" class="input" name="password" ngModel placeholder="Enter your password" />
            <input *ngIf="!isFirstTimeUser" type="password" class="input" name="confirmPassword" ngModel placeholder="Confirm your password" />
            <button class="input">Submit</button>
            <button class="input" (click)="newAccount(accountTypeText)">{{accountTypeText}}</button>
        </form>
    </div>
</div>